<style>
  body {
    margin: 0;
    font-family: 'Noto Serif', serif;
    font-size: 1.25rem;
    text-rendering: geometricPrecision;
    line-height: 1.625;
    color: hsl(0, 0%, 20%)
  }
  .light-grey {
    color: hsl(0, 0%, 46%)!important;
  }
  .small {
    font-size: 1rem!important;
  }
  footer {
    display: flex;
  }
  html {
    font-size: 16px;
  }
  section {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  header.main {
    height: 4.5rem;
    line-height: 4.5rem;
    z-index: 10000;
    overflow: hidden;
    margin-bottom: 2rem;
  }
  header .logo {
    font-family: 'Orbitron', sans-serif;
    font-size: 1.5rem;
    color: hsl(252, 15%, 6%);
    text-decoration: none;
  }
  header .logo:hover {
    color: hsl(252, 15%, 6%);
  }
  @media (min-width: 60em) {
    header.main {
      height: 5rem;
      line-height: 5rem;
    }
    header .logo {
      font-size: 2rem;
    }
  }
  .container {
    width: min(1200px, 100% - 3rem);
    margin-inline: auto;
    margin-bottom: 3rem;
  }
  footer .container, section.container {
    padding-block: 5rem;
  }
  section.container.welcome {
    padding-top: 1rem;
  }
  .dark {
    color: hsl(208, 100%, 97%);
    background-color: hsl(252, 15%, 6%);
  }
  .rem {
    font-family: 'REM', sans-serif;
  }


  h2 a {
    text-decoration: none;
    color: hsl(0, 0%, 20%);
  }
  article p a {
    color: hsl(206, 100%, 39%);
  }
  article p {
    line-height: calc(2.2rem + .2vw);
    margin-block: 1rem;
  }
  article p:first-of-type {
    margin-top: 0;
  }
  article p:last-of-type {
    margin-bottom: 3rem;
  }

  .split-content {
    display: flex;
    flex-direction: row;
  }
  .split-content--wrap {
    flex-wrap: wrap;
  }
  .gap-2 {
    gap: 2rem;
  }
  .split-content__wrapper {
    flex: 1;
  }
  .split-content__card {
    width: 100%;
  }
  @media (min-width: 55em) {
    .split-content__card {
      width: 50%;
    }
    .split-content__card.to-right article {
      margin-left: auto;
    }
  }
  .main {
    display: flex;
    flex-direction: column;
  }
  @media (min-width: 60em) {
    .main {
      flex-direction: row;
    }
    .split-content__third {
      width: 33.3333333%;
    }
  }
  .explore {
    display: flex;
    flex-wrap: wrap;
  }
  .explore .split-content__wrapper {
    flex: 1;
    flex-basis: 100%;
    box-sizing: border-box;
  }
  @media (min-width: 40em) {
    .explore .split-content__wrapper {
      flex: 0;
      flex-basis: calc(50% - 1rem);
    }
  }

  @media (min-width: 60em) {
    .explore {
      flex-wrap: nowrap;
    }
    .explore .split-content__wrapper {
      flex: 1;
    }
  }
</style>
