<div class="promo-box">
    <a class="promo-box__cta rem" href="/">Entropia Online on Goerli&nbsp;test&nbsp;net</a>
    <p class="promo-box__heading">Join the first colonization wave today.</p>
    <p class="promo-box__links">
        Learn about
        <a href="/">Goerli&nbsp;test&nbsp;net</a>
        and&nbsp;how
        you&nbsp;can&nbsp;<a href="/">collect&nbsp;Goerli&nbsp;Eth</a>
        for&nbsp;free.
    </p>
    <p class="promo-box__mtn">
        <a href="/" role="button" class="promo-box__button">
            Jump to all posts about Goerli <svg width="19" height="12" fill="none"><path d="M1 6h17m0 0-5.008-5M18 6l-5.008 5" stroke-width="1.4" stroke-linecap="square" stroke-linejoin="round"></path></svg>
        </a>
    <small class="promo-box__footer block grey"><em><a href="/">The whole blog category</a>, dedicated to free-to-play EO.</em></small></p>
</div>                                 

<style>
    .promo-box {
        padding: 2rem;
        padding-top: 7.5rem;
        background-color: hsl(155, 75%, 97%);
        border-radius: 1rem;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
    }
    @media (min-width: 60em) {
        .promo-box {
            max-width: 23rem;
            margin-left: auto;
        }
    }
    .promo-box p a {
        color: hsl(206, 100%, 39%);
    }
    .promo-box__button,
    .promo-box__cta {
        width: auto;
        margin-inline: auto;
        background-color: hsl(0, 0%, 100%);
        color: hsl(5, 65%, 50%);
        text-align: center;
        text-decoration: none;
        font-weight: bold;
        display: block;
        border-radius: 1rem;
        box-shadow: 0px 3px 6px rgba(255, 255, 255, 0.05);
        font-size: 1.5rem;
        padding: 0.5rem 1.3rem;
        transition: color 0.3s, background-color 0.3s;
        margin-bottom: 3rem;
        text-shadow: 1px 1px 1px rgba(0,0,0,.25);
    }
    .promo-box__cta:hover {
        color: hsl(0, 0%, 100%);
        background-color: hsl(5, 65%, 50%);
    }
    .promo-box__mtn {
        display: flex;
        flex-direction: column;
        margin-top: 0;
        margin-bottom: 3rem;
    }
    .promo-box__mtn svg {
        stroke: hsl(0, 0%, 100%);
        margin-left: 0.4rem;
        filter: drop-shadow(1px 1px 1px rgba(0,0,0,.25));
    }
    .promo-box__heading {
        font-size: 2rem;
        font-weight: bold;
        line-height: 1.2;
        margin-top: 0;
    }
    .promo-box p {
        text-align: center;
    }
    .promo-box__links {
        line-height: 1.75;
        margin-top: 0;
    }
    p a.promo-box__button {
        background-color: hsl(157, 74%, 37%);
        color: hsl(0, 0%, 100%);
    }
</style>