{{ define "main" }}
  <div class="container">
    <div class="main">
      <div class="split-content__wrapper">
        {{ partial "post/post-preview.html" . }}
        {{ partial "post/post-title-preview.html" . }}
        {{ partial "post/post-title-preview.html" . }}
      </div>
      <div class="split-content__third">
        {{ partial "promo.html" . }}
      </div>
    </div>
  </div>
  <div class="container">
    <div class="explore gap-2">
      <div class="split-content__wrapper card--green">
        {{ partial "card.html" . }}
      </div>
      <div class="split-content__wrapper card--orange">
        {{ partial "card.html" . }}
      </div>
      <div class="split-content__wrapper card--violet">
        {{ partial "card.html" . }}
      </div>
    </div>
  </div>
  <div class="container">
    <div class="split-content split-content--wrap">
      <div class="split-content__card">
        {{ partial "post/post-list-preview.html" . }}
      </div>
      <div class="split-content__card to-right">
        {{ partial "post/post-list-preview.html" . }}
      </div>
      <div class="split-content__card">
        {{ partial "post/post-list-preview.html" . }}
      </div>
      <div class="split-content__card to-right">
        {{ partial "post/post-list-preview.html" . }}
      </div>
      <div class="split-content__card">
        {{ partial "post/post-list-preview.html" . }}
      </div>
      <div class="split-content__card to-right">
        {{ partial "post/post-list-preview.html" . }}
      </div>
      <div class="split-content__card">
        {{ partial "post/post-list-preview.html" . }}
      </div>
      <div class="split-content__card to-right">
        {{ partial "post/post-list-preview.html" . }}
      </div>
    </div>
  </div>
  <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>
  <!-- <section class="welcome container split">
    <div class="articles">
      <article class="latest-post">
        <header class="latest-post__title">
          <img src="/images/stable-token.png" width="360px" height="220px" alt="Stable Token" />
          <div class="latest-post__heading">
            <h2 class="h2">The title of the post can be a bit long as it is not controlled somehow</h2>
            <time datetime="" class="author-post__time">Jul 27, 2023</time>
            <em class="light-grey small">in</em>
            <a class="latest-post__tag rem" href="/categories/development">Dev</a>,
            <a class="latest-post__tag rem" href="/categories/eo">EO</a>,
            <a class="latest-post__tag rem" href="/categories/assets">Assets</a>
          </div>

        </header>

        <div class="latest-post__content">
          <p>
            In this article, we’ll explore how to build a chat summarizer using the Cohere API and deploy it as a web application using <a href="/">Gradio</a>. Cohere is an AI platform that provides state-of-the-art natural language processing models for a variety of tasks, including summarization. We’ll cover the steps involved in training the summarizer using sample chat conversations, interacting with the Cohere API to generate summaries, and creating a user-friendly interface using Gradio.
          </p>
          <p>
            <a class="learn-more rem" href="https://blog.entropiaonline.com">
              Continue reading<svg width="19" height="12" fill="none"><path d="M1 6h17m0 0-5.008-5M18 6l-5.008 5" stroke-width="1.4" stroke-linecap="square" stroke-linejoin="round"></path></svg>
            </a>
          </p>
        </div>
      </article>
      <article class="post">
        <div class="post__image">
          <img src="/images/stable-token.png" width="360px" height="220px" alt="Stable Token" />
        </div>
        <div class="post__title">
          <div class="post__meta">
            <time datetime="" class="author-post__time">Jul 27, 2023</time>
            <em class="light-grey small">in</em>
            <a class="latest-post__tag rem" href="/categories/development">Dev</a>,
            <a class="latest-post__tag rem" href="/categories/eo">EO</a>,
            <a class="latest-post__tag rem" href="/categories/assets">Assets</a>
          </div>
          <h2 class="h3">Some Post title that can also be a bit long as it is not limited somehow by design and up to author to name it as he wants and as long as he wants</h2>
        </div>
      </article>
      <article class="post">
        <div class="post__image">
          <img src="/images/stable-token.png" width="360px" height="220px" alt="Stable Token" />
        </div>
        <div class="post__title">
          <div class="post__meta">
            <time datetime="" class="author-post__time">Jul 27, 2023</time>
            <em class="light-grey small">in</em>
            <a class="latest-post__tag rem" href="/categories/development">Dev</a>,
            <a class="latest-post__tag rem" href="/categories/eo">EO</a>,
            <a class="latest-post__tag rem" href="/categories/assets">Assets</a>
          </div>
          <h2 class="h3">Some Post title that can also be a bit long as it is not limited somehow by design and up to author to name it as he wants and as long as he wants</h2>
        </div>
      </article>
    </div>

    <div class="promo">Test</div>
  </section>
  <div class="container">
    <div class="explore-cards">
      <div class="card c-green">
        <div class="stack">
          <h2><a href="/">Card Title link</a></h2>
          <p>
            Some card content that should not be too long but just enough to describe the meaning
          </p>
          <a class="card__button" href="/">Explore some thing</a>
        </div>
      </div>
      <div class="card c-green">
        <div class="stack">
          <h2><a href="/">Card Title link</a></h2>
          <p>
            Some card content that should not be too long but just enough to describe the meaning
          </p>
          <a class="card__button" href="/">Explore some thing</a>
        </div>
      </div>
      <div class="card c-green">
        <div class="stack">
          <h2><a href="/">Card Title link</a></h2>
          <p>
            Some card content that should not be too long but just enough to describe the meaning
          </p>
          <a class="card__button" href="/">Explore some thing</a>
        </div>
      </div>
    </div>
    <div class="explore-more">
      <a href="/">EXPLORE ALL GUIDES</a>
    </div>
  </div>

  <section class="latest-post container">
    <div class="posts">
      <article class="article">
        <header class="article__title">
          <img src="/images/stable-token.png" width="360px" height="220px" alt="Stable Token" />
          <div class="article__heading">
            <h2 class="h2">The title of the post can be a bit long as it is not controlled somehow</h2>
            <time datetime="" class="author-post__time">Jul 27, 2023</time>
            <em class="light-grey small">in</em>
            <a class="article__tag rem" href="/categories/development">Dev</a>,
            <a class="article__tag rem" href="/categories/eo">EO</a>,
            <a class="article__tag rem" href="/categories/assets">Assets</a>
          </div>
        </header>
        <div class="article__content">
          <p>
            In this article, we’ll explore how to build a chat summarizer using the Cohere API and deploy it as a web application using <a href="/">Gradio</a>. Cohere is an AI platform that provides state-of-the-art natural language processing models for a variety of tasks, including summarization. We’ll cover the steps involved in training the summarizer using sample chat conversations, interacting with the Cohere API to generate summaries, and creating a user-friendly interface using Gradio.
          </p>
        </div>
      </article>
      

      <article class="article">
        <header class="article__title">
          <img src="/images/stable-token.png" width="360px" height="220px" alt="Stable Token" />
          <div class="article__heading">
            <h2 class="h2">The title of the post can be a bit long as it is not controlled somehow</h2>
            <time datetime="" class="author-post__time">Jul 27, 2023</time>
            <em class="light-grey small">in</em>
            <a class="article__tag rem" href="/categories/development">Dev</a>,
            <a class="article__tag rem" href="/categories/eo">EO</a>,
            <a class="article__tag rem" href="/categories/assets">Assets</a>
          </div>
        </header>
        <div class="article__content">
          <p>
            In this article, we’ll explore how to build a chat summarizer using the Cohere API and deploy it as a web application using <a href="/">Gradio</a>. Cohere is an AI platform that provides state-of-the-art natural language processing models for a variety of tasks, including summarization. We’ll cover the steps involved in training the summarizer using sample chat conversations, interacting with the Cohere API to generate summaries, and creating a user-friendly interface using Gradio.
          </p>
        </div>
      </article>

      <article class="article">
        <header class="article__title">
          <img src="/images/stable-token.png" width="360px" height="220px" alt="Stable Token" />
          <div class="article__heading">
            <h2 class="h2">The title of the post can be a bit long as it is not controlled somehow</h2>
            <time datetime="" class="author-post__time">Jul 27, 2023</time>
            <em class="light-grey small">in</em>
            <a class="article__tag rem" href="/categories/development">Dev</a>,
            <a class="article__tag rem" href="/categories/eo">EO</a>,
            <a class="article__tag rem" href="/categories/assets">Assets</a>
          </div>
        </header>
        <div class="article__content">
          <p>
            In this article, we’ll explore how to build a chat summarizer using the Cohere API and deploy it as a web application using <a href="/">Gradio</a>. Cohere is an AI platform that provides state-of-the-art natural language processing models for a variety of tasks, including summarization. We’ll cover the steps involved in training the summarizer using sample chat conversations, interacting with the Cohere API to generate summaries, and creating a user-friendly interface using Gradio.
          </p>
        </div>
      </article>
      
      <article class="article">
        <header class="article__title">
          <img src="/images/stable-token.png" width="360px" height="220px" alt="Stable Token" />
          <div class="article__heading">
            <h2 class="h2">The title of the post can be a bit long as it is not controlled somehow</h2>
            <time datetime="" class="author-post__time">Jul 27, 2023</time>
            <em class="light-grey small">in</em>
            <a class="article__tag rem" href="/categories/development">Dev</a>,
            <a class="article__tag rem" href="/categories/eo">EO</a>,
            <a class="article__tag rem" href="/categories/assets">Assets</a>
          </div>
        </header>
        <div class="article__content">
          <p>
            In this article, we’ll explore how to build a chat summarizer using the Cohere API and deploy it as a web application using <a href="/">Gradio</a>. Cohere is an AI platform that provides state-of-the-art natural language processing models for a variety of tasks, including summarization. We’ll cover the steps involved in training the summarizer using sample chat conversations, interacting with the Cohere API to generate summaries, and creating a user-friendly interface using Gradio.
          </p>
        </div>
      </article>
      
      <article class="article">
        <header class="article__title">
          <img src="/images/stable-token.png" width="360px" height="220px" alt="Stable Token" />
          <div class="article__heading">
            <h2 class="h2">The title of the post can be a bit long as it is not controlled somehow</h2>
            <time datetime="" class="author-post__time">Jul 27, 2023</time>
            <em class="light-grey small">in</em>
            <a class="article__tag rem" href="/categories/development">Dev</a>,
            <a class="article__tag rem" href="/categories/eo">EO</a>,
            <a class="article__tag rem" href="/categories/assets">Assets</a>
          </div>
        </header>
        <div class="article__content">
          <p>
            In this article, we’ll explore how to build a chat summarizer using the Cohere API and deploy it as a web application using <a href="/">Gradio</a>. Cohere is an AI platform that provides state-of-the-art natural language processing models for a variety of tasks, including summarization. We’ll cover the steps involved in training the summarizer using sample chat conversations, interacting with the Cohere API to generate summaries, and creating a user-friendly interface using Gradio.
          </p>
        </div>
      </article>
      
      <article class="article">
        <header class="article__title">
          <img src="/images/stable-token.png" width="360px" height="220px" alt="Stable Token" />
          <div class="article__heading">
            <h2 class="h2">The title of the post can be a bit long as it is not controlled somehow</h2>
            <time datetime="" class="author-post__time">Jul 27, 2023</time>
            <em class="light-grey small">in</em>
            <a class="article__tag rem" href="/categories/development">Dev</a>,
            <a class="article__tag rem" href="/categories/eo">EO</a>,
            <a class="article__tag rem" href="/categories/assets">Assets</a>
          </div>
        </header>
        <div class="article__content">
          <p>
            In this article, we’ll explore how to build a chat summarizer using the Cohere API and deploy it as a web application using <a href="/">Gradio</a>. Cohere is an AI platform that provides state-of-the-art natural language processing models for a variety of tasks, including summarization. We’ll cover the steps involved in training the summarizer using sample chat conversations, interacting with the Cohere API to generate summaries, and creating a user-friendly interface using Gradio.
          </p>
        </div>
      </article>
      
      <article class="article">
        <header class="article__title">
          <img src="/images/stable-token.png" width="360px" height="220px" alt="Stable Token" />
          <div class="article__heading">
            <h2 class="h2">The title of the post can be a bit long as it is not controlled somehow</h2>
            <time datetime="" class="author-post__time">Jul 27, 2023</time>
            <em class="light-grey small">in</em>
            <a class="article__tag rem" href="/categories/development">Dev</a>,
            <a class="article__tag rem" href="/categories/eo">EO</a>,
            <a class="article__tag rem" href="/categories/assets">Assets</a>
          </div>
        </header>
        <div class="article__content">
          <p>
            In this article, we’ll explore how to build a chat summarizer using the Cohere API and deploy it as a web application using <a href="/">Gradio</a>. Cohere is an AI platform that provides state-of-the-art natural language processing models for a variety of tasks, including summarization. We’ll cover the steps involved in training the summarizer using sample chat conversations, interacting with the Cohere API to generate summaries, and creating a user-friendly interface using Gradio.
          </p>
        </div>
      </article>
      
      <article class="article">
        <header class="article__title">
          <img src="/images/stable-token.png" width="360px" height="220px" alt="Stable Token" />
          <div class="article__heading">
            <h2 class="h2">The title of the post can be a bit long as it is not controlled somehow</h2>
            <time datetime="" class="author-post__time">Jul 27, 2023</time>
            <em class="light-grey small">in</em>
            <a class="article__tag rem" href="/categories/development">Dev</a>,
            <a class="article__tag rem" href="/categories/eo">EO</a>,
            <a class="article__tag rem" href="/categories/assets">Assets</a>
          </div>
        </header>
        <div class="article__content">
          <p>
            In this article, we’ll explore how to build a chat summarizer using the Cohere API and deploy it as a web application using <a href="/">Gradio</a>. Cohere is an AI platform that provides state-of-the-art natural language processing models for a variety of tasks, including summarization. We’ll cover the steps involved in training the summarizer using sample chat conversations, interacting with the Cohere API to generate summaries, and creating a user-friendly interface using Gradio.
          </p>
        </div>
      </article>
      
    </div>
    <div class="explore-more">
      <a href="/">SEE MORE LATEST ARTICLES</a>
    </div>
  </section> -->
{{ end }}